


<aside id="s-main-menu" class="sidebar">



    <ul class="smm-alerts">
      <li>
       <a  class="class-29"href="fos_user_security_logout" title=""><i class="zmdi zmdi-power" style="margin-top: 11px;"></i></a>
      </li>
      <li>
        <a  class="class-29"href="app_home_index" title=""><i class="zmdi zmdi-home"  style="margin-top: 11px;"></i></a>
      </li>
    </ul>
    <ul class="main-menu">    
      <li><a href="app_home_index"><i class="zmdi zmdi-home"></i>Home</a></li>
      <li class="sub-menu">
        <a href="#"  data-ma-action="submenu-toggle"><i class="zmdi zmdi-format-list-bulleted"></i>Categories</a>
        <ul>
          <li><a href="app_categories_index">Categories List</a></li>
          <li><a href="app_categories_add">New Category</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="#"  data-ma-action="submenu-toggle"><i class="zmdi zmdi-collection-text"></i>Annonces</a>
        <ul>
          <li><a href="app_guides_index">Annonce List</a></li>
          <li><a href="app_guides_add">New Annonce</a></li>
        </ul>
      </li>
      <li><a href="app_comments_index"><i class="zmdi zmdi-comments"></i>Comments</a></li>
        <li><a href="user_user_index"><i class="zmdi zmdi-account"></i>Users</a></li>
        <li><a routerLink="/admin/support"><i class="zmdi zmdi-help"></i>Support messages</a></li>
      </ul>



</aside>
