


        <!-- Body Component-->


        <div class="container">
            <div class="row">

                <div class="col-sm-4" style="padding:10px">
                    <div class="card c-dark palette-Light-Blue bg ">
                        <div class="card-body card-padding">
                            <h2 class="m-t-0 m-b-15 c-white">
                                <i class="zmdi zmdi-format-list-bulleted zmdi-48"></i>
                                <font>
                                5
                                </font>
                                    
                                        <!--
                                        {{categories_count}}
                                        -->
                            </h2>
                            <h2 class="m-t-0 m-b-15 c-white">Categories</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding:10px">
                    <div class="card c-dark palette-Teal bg ">
                        <div class="card-body card-padding">
                            <h2 class="m-t-0 m-b-15 c-white">
                                <i class="zmdi zmdi-collection-text"></i>
                                <font>
                                    4
                                </font>
                                      
                            </h2>
                            <h2 class="m-t-0 m-b-15 c-white">Annonces</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding:10px">
                    <div class="card c-dark palette-Cyan bg ">
                        <div class="card-body card-padding">
                            <h2 class="m-t-0 m-b-15 c-white">
                                <i class="zmdi zmdi-collection-item"></i>
                                <font>
                                    4
                                </font>
                                <!--
                                        {{steps_count}}
                                -->
                            </h2>
                            <h2 class="m-t-0 m-b-15 c-white">Steps</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding:10px">
                    <div class="card c-dark palette-Purple bg ">
                        <div class="card-body card-padding">
                            <h2 class="m-t-0 m-b-15 c-white">
                                <i class="zmdi zmdi-comments"></i>
                                <font>
                                    3
                                </font>
                                <!--
                                        {{comments_count}}
                                -->
                            </h2>
                            <h2 class="m-t-0 m-b-15 c-white">Comments</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding:10px">
                    <div class="card c-dark palette-Pink bg ">
                        <div class="card-body card-padding">
                            <h2 class="m-t-0 m-b-15 c-white">
                                <i class="zmdi zmdi-account"></i>
                                <font>
                                    2
                                </font>
                                <!--
                                        {{users_count}}
                                -->
                            </h2>
                            <h2 class="m-t-0 m-b-15 c-white">Users</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding:10px">
                    <div class="card c-dark palette-Blue-Grey bg ">
                        <div class="card-body card-padding">
                            <h2 class="m-t-0 m-b-15 c-white">
                                <i class="zmdi zmdi-help m-r-5 zmdi-48"></i>
                                <font>
                                    5
                                </font>
                                <!--
                                        {{messages_count}}
                                -->
                            </h2>
                            <h2 class="m-t-0 m-b-15 c-white">Messages</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- end Body Component-->



   