


<div class="u-s-m-b-30">
    <div class="shop-w shop-w--style">
        <div class="shop-w__intro-wrap">
            <h1 class="shop-w__h">CATEGORY</h1>

            <span class="fas fa-minus shop-w__toggle" data-target="#s-category" data-toggle="collapse"></span>
        </div>
        <div class="shop-w__wrap collapse show" id="s-category">
            <ul class="shop-w__category-list gl-scroll">
                <!--
                <li class="has-list">

                    <a href="#">Electronics</a>

                    <span class="category-list__text u-s-m-l-6">(23)</span>

                    <span class="js-shop-category-span is-expanded fas fa-plus u-s-m-l-6"></span>
                    <ul style="display:block">
                        <li class="has-list">

                            <a href="#">3D Printer & Supplies</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">3d Printer</a></li>
                                <li>

                                    <a href="#">3d Printing Pen</a></li>
                                <li>

                                    <a href="#">3d Printing Accessories</a></li>
                                <li>

                                    <a href="#">3d Printer Module Board</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Home Audio & Video</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">TV Boxes</a></li>
                                <li>

                                    <a href="#">TV Receiver & Accessories</a></li>
                                <li>

                                    <a href="#">3d Printing Accessories</a></li>
                                <li>

                                    <a href="#">3d Printer Module Board</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Media Players</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Earphones</a></li>
                                <li>

                                    <a href="#">Mp3 Players</a></li>
                                <li>

                                    <a href="#">Speakers & Radios</a></li>
                                <li>

                                    <a href="#">Microphones</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Video Game Accessories</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Nintendo Video Games Accessories</a></li>
                                <li>

                                    <a href="#">Sony Video Games Accessories</a></li>
                                <li>

                                    <a href="#">Xbox Video Games Accessories</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Security & Protection</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Security Cameras</a></li>
                                <li>

                                    <a href="#">Alarm System</a></li>
                                <li>

                                    <a href="#">Security Gadgets</a></li>
                                <li>

                                    <a href="#">CCTV Security Accessories</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Home Audio & Video</a>

                            <span class="js-shop-category-span is-expanded fas fa-plus u-s-m-l-6"></span>
                            <ul style="display:block">
                                <li>

                                    <a href="#">TV Boxes</a></li>
                                <li>

                                    <a href="#">TV Receiver & Accessories</a></li>
                                <li>

                                    <a href="#">3d Printing Accessories</a></li>
                                <li>

                                    <a href="#">3d Printer Module Board</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Photography & Camera</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Digital Cameras</a></li>
                                <li>

                                    <a href="#">Sport Camera & Accessories</a></li>
                                <li>

                                    <a href="#">Camera Accessories</a></li>
                                <li>

                                    <a href="#">Lenses & Accessories</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Arduino Compatible</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Raspberry Pi & Orange Pi</a></li>
                                <li>

                                    <a href="#">Module Board</a></li>
                                <li>

                                    <a href="#">Smart Robot</a></li>
                                <li>

                                    <a href="#">Board Kits</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">DSLR Camera</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Nikon Camera</a></li>
                                <li>

                                    <a href="#">Canon Camera</a></li>
                                <li>

                                    <a href="#">Sony Camera</a></li>
                                <li>

                                    <a href="#">DSLR Lenses</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Necessary Accessories</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Flash Cards</a></li>
                                <li>

                                    <a href="#">Memory Cards</a></li>
                                <li>

                                    <a href="#">Flash Pins</a></li>
                                <li>

                                    <a href="#">Compact Discs</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                -->
                <!--
                <li class="has-list">

                    <a href="#">Women's Clothing</a>

                    <span class="category-list__text u-s-m-l-6">(5)</span>

                    <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                    <ul>
                        <li class="has-list">

                            <a href="#">Hot Categories</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Dresses</a></li>
                                <li>

                                    <a href="#">Blouses & Shirts</a></li>
                                <li>

                                    <a href="#">T-shirts</a></li>
                                <li>

                                    <a href="#">Vests</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">BRANDS</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">adidas</a></li>
                                <li>

                                    <a href="#">Puma</a></li>
                                <li>

                                    <a href="#">New Balance</a></li>
                                <li>

                                    <a href="#">River Island</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Wedding & Events</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Wedding Dresses</a></li>
                                <li>

                                    <a href="#">Evening Dresses</a></li>
                                <li>

                                    <a href="#">Prom Dresses</a></li>
                                <li>

                                    <a href="#">Flower Dresses</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Bottoms</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Skirts</a></li>
                                <li>

                                    <a href="#">Shorts</a></li>
                                <li>

                                    <a href="#">Leggings</a></li>
                                <li>

                                    <a href="#">Jeans</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Outwear</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Blazers</a></li>
                                <li>

                                    <a href="#">Basic Jackets</a></li>
                                <li>

                                    <a href="#">Trench</a></li>
                                <li>

                                    <a href="#">Leather & Suede</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Jackets</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Denim Jackets</a></li>
                                <li>

                                    <a href="#">Trucker Jackets</a></li>
                                <li>

                                    <a href="#">Windbreaker Jackets</a></li>
                                <li>

                                    <a href="#">Leather Jackets</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Accessories</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Tech Accessories</a></li>
                                <li>

                                    <a href="#">Headwear</a></li>
                                <li>

                                    <a href="#">Baseball Caps</a></li>
                                <li>

                                    <a href="#">Belts</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Other Accessories</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Bags</a></li>
                                <li>

                                    <a href="#">Wallets</a></li>
                                <li>

                                    <a href="#">Watches</a></li>
                                <li>

                                    <a href="#">Sunglasses</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                -->
                <!--
                <li class="has-list">

                    <a href="#">Men's Clothing</a>

                    <span class="category-list__text u-s-m-l-6">(5)</span>

                    <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                    <ul>
                        <li class="has-list">

                            <a href="#">Hot Sale</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">T-Shirts</a></li>
                                <li>

                                    <a href="#">Tank Tops</a></li>
                                <li>

                                    <a href="#">Polo</a></li>
                                <li>

                                    <a href="#">Shirts</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Outwear</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Hoodies</a></li>
                                <li>

                                    <a href="#">Trench</a></li>
                                <li>

                                    <a href="#">Parkas</a></li>
                                <li>

                                    <a href="#">Sweaters</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Bottoms</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Casual Pants</a></li>
                                <li>

                                    <a href="#">Cargo Pants</a></li>
                                <li>

                                    <a href="#">Jeans</a></li>
                                <li>

                                    <a href="#">Shorts</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Underwear</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">BRANDS</a></li>
                                <li>

                                    <a href="#">adidas</a></li>
                                <li>

                                    <a href="#">Puma</a></li>
                                <li>

                                    <a href="#">New Balance</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Jackets</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Denim Jackets</a></li>
                                <li>

                                    <a href="#">Trucker Jackets</a></li>
                                <li>

                                    <a href="#">Windbreaker Jackets</a></li>
                                <li>

                                    <a href="#">Leather Jackets</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Sunglasses</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Pilot</a></li>
                                <li>

                                    <a href="#">Wayfarer</a></li>
                                <li>

                                    <a href="#">Square</a></li>
                                <li>

                                    <a href="#">Round</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Accessories</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Eyewear Frames</a></li>
                                <li>

                                    <a href="#">Scarves</a></li>
                                <li>

                                    <a href="#">Hats</a></li>
                                <li>

                                    <a href="#">Belts</a></li>
                            </ul>
                        </li>
                        <li class="has-list">

                            <a href="#">Other Accessories</a>

                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                            <ul>
                                <li>

                                    <a href="#">Bags</a></li>
                                <li>

                                    <a href="#">Wallets</a></li>
                                <li>

                                    <a href="#">Watches</a></li>
                                <li>

                                    <a href="#">Tech Accessories</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                -->
                <!--
                <li>

                    <a href="#">Food & Supplies</a>

                    <span class="category-list__text u-s-m-l-6">(5)</span>
                
                </li>
                -->

                <li *ngFor="let category of categories">

                    <a routerLink="/category/{{ category.id }}/{{ category.categoryName }}" routerLinkActive="active-link">{{ category.categoryName }}</a>


                    <!-- sub category count -->

                    <span class="category-list__text u-s-m-l-6">(5)</span>
                
                </li>


                <!--
                <li>

                    <a href="#">Furniture & Decor</a>

                    <span class="category-list__text u-s-m-l-6">(0)</span></li>
                <li>

                    <a href="#">Sports & Game</a>

                    <span class="category-list__text u-s-m-l-6">(0)</span></li>
                <li>

                    <a href="#">Beauty & Health</a>

                    <span class="category-list__text u-s-m-l-6">(0)</span>
                </li>
            -->
            </ul>
        </div>
    </div>
</div>